@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: font-family: 'Poppins', sans-serif;
	cursor: pointer;
}
body{
	height: 100VH;
	width: 100%;
	display: inline-flex;
	justify-content: CENTER ;
	align-items: CENTER;
	background: linear-gradient(TO right,blue,violet);
 animation: gradientAnimation 9s infinite;
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(90deg, #ff9a9e, #fad0c4);
    }
    16.666% {
        background: linear-gradient(90deg, #a1c4fd, #f8cdda);
    }
    33.333% {
        background: linear-gradient(90deg, #fbc2eb, #a6c1ee);
    }
    50% {
        background: linear-gradient(90deg, #84fab0, #8fd3f4);
    }
    66.666% {
        background: linear-gradient(90deg, #cfd9df, #e2ebf0);
    }
    83.333% {
        background: linear-gradient(90deg, #f6d365, #fda085);
    }
    100% {
        background: linear-gradient(90deg, #ff9a9e, #fad0c4);
    }

}
#form{
	width: 25rem;
	height:28rem;
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.06);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135,0.37);
	border-radius: 30px;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
		border-left: 1px solid rgba(255, 255, 255, 0.3);
	}

	 h1{
		margin-top: 50px;
		font-size: 50PX;
		text-align: CENTER;
		color: black;
		text-shadow: 2PX 2PX 4PX rgba(0, 0, 0, 0.2);
		letter-spacing: 3PX;
		margin-bottom: 5%;
		opacity: .7;
	}
	#form label{	
		font-size: 20PX;
		color:black;
		margin-left: 10%;
		opacity: .8;
		text-shadow: 2PX 2PX 4PX rgba(0, 0, 0, .2);
	}
	#form input{
		width: 80%;
		margin: 5% AUTO;
		margin-bottom: 8%;
		border: NONE;
		outline: NONE;
		background: transparent;
		color: black;
		border-bottom: 1px solid rgba(255, 255, 255, 0.6);
		opacity: .8;

	}
	#form button{
		 width: 50%;
		 margin: 3% auto;
		 color: black;
		 font-size: 15px;
		 opacity: .7;
		 background: rgba(255, 255, 255, 0.06);
		 padding: 10px 30px;
		 border: none;
		 outline: none;
		 border-radius: 20px;
		 text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
		 box-shadow: 3px 3px 5px rgba(31, 38, 135, .37);
		 border-left: 1px solid rgba(255, 255, 255,.3);
		 border-top: 1px solid rgba(255, 255, 255,.3);
	}